html{
    scroll-behavior: smooth;
}

body{
    background-color: #C1C8E4; /*#13521d9f; */
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

nav{
    width: 100%;
    background: #5680E9;/*#2c703762;*/
    overflow: hidden;
    position: fixed;
    top: 0;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

li{
    float: left;
}

a{
    padding: 20px;
    width: 100px;
    display: block;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.472);
    text-transform: uppercase; /*optional*/
}

a:hover{
    color: whitesmoke;
}

h1 {
  text-align: center;
  margin: 85px;
  padding: 0;
  font-weight: 400px;
  color:rgba(0, 0, 0, 0.762);
}

h2 {
    text-align:center;
}

#section1
{
    height: 800px; /*may need to change section heights later*/
    background: #C1C8E4;/*#e3e3e3;*/
    display: inline-block; /*set width and height*/
    width: 100%;
}

#section2
{
    height: 800px; 
    background:#84CEEB;/*rgba(223, 197, 29, 0.173);*/
    display: inline-block;
    width: 100%
}

#section3
{
    height: 1000px;
    background: #8860D0; /*#2c703730;*/
    display: inline-block; /*set width and height*/
    width: 100%
}

.banner
{
    color: white;
    /*for home page header*/
}
.content { 
    padding: 6%;
  }

.card-grid { 
    max-width: 1200px; 
    margin: 0 auto; 
    display: grid; 
    grid-gap: 1.3em; 
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }

.card { 
    background-color: #C1C8E4; 
    box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.663);
  }
  
/*.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
}*/

.card-title { 
    font-size: 1.2rem;
    font-weight: bold;
    color: #575353
  }
  